
.dashboard-space{
  background-color: #F9F9F9;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.bold-name{
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

.flat-card img {
  width: 300px;
  border-radius: 10px;

  background-position: center center;
}


.card-candidat {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 0px;
  position: relative;
  transition: 0.5s;
}

.card-candidat img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-candidat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-candidat p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-candidat .card-candidat-infos {
  padding: 16px;
}

.card-candidat:hover {
 opacity: 0.5;
 transition: 0.5s;
}


.see-more {
  position: absolute;
  left:0;
  right:0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.see-more img {

  width: 50px;
}

.card-candidat:hover .see-more {
  opacity: 1;
  transition: 0.5s;
 }


.edit-button {
  position: absolute;
  margin-left: 550px;
  opacity: 0;
  transition: 0.5s;
}

.edit-button img {
  width: 30px;
}

.dashboard-space {
  position: relative;
  i {
    font-size: 20px
  }
}

#maininformation {
  margin-bottom: 13px;
}

.dashboard-space:hover .edit-button{
  opacity: 1;
  transition: 0.5s;
}

#flatCarousel .carousel-inner {
  height: 700px;
  width: 100%;
}
