
.dashboard-space{
  background-color: #F9F9F9;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.bold-name{
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

.flat-card img {
  width: 300px;
  border-radius: 10px;

  background-position: center center;
}


.card-candidat {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  position: relative;
  transition: 0.5s;
}

.card-candidat img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-candidat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-candidat p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-candidat-infos:hover {
  // opacity: 0.2;
  transition: 0.5s;
}

.card-candidat .card-candidat-infos {

  padding: 16px;

}



.card-candidat:hover {
 opacity: 0.8;
 transition: 0.5s;
}

.card-candidat:hover h2  {
  opacity: 0.4;
  transition: 0.5s;
  filter: blur(1px);
 }

 .card-candidat:hover p  {
  opacity: 0.4;
  transition: 0.5s;
  filter: blur(1px);
 }



.see-more {
  position: absolute;
  left:0;
  right:0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.status-pending{
  background-color: grey;
  font-size: 10px;
  position: absolute;
  top:5px;
  color:white;


}

.status-accepted{
  background-color: green;
  font-size: 10px;
  position: absolute;
  top:5px;
  color:white;

}

.status-refused{
  background-color: red;
  font-size: 10px;
  position: absolute;
  top:5px;
  color:white;
}

.see-more img {

  width: 50px;
}

.card-candidat:hover .see-more {
  opacity: 1;
  transition: 0.5s;
 }


.edit-button {
  position: absolute;
  margin-left: 500px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 0.5s;
}

.edit-button img {
  width: 20px;
}

.dashboard-space {
  position: relative;
  i {
    font-size: 20px
  }
}

#maininformation {
  margin-bottom: 13px;
}

.dashboard-space:hover .edit-button{
  opacity: 1;
  transition: 0.5s;
}

#flatCarousel .carousel-inner {
  height: 380px;
  width: 100%;
}

.senior-dashboard-space {
  margin-left: 120px;
}



// .img-card-marker {
//   position: relative;
//   display: flex;

// }

// .img-card-marker h4 {
//   margin:0px;
// }

.card-marker {
  width: 200px;
  height: 150px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

// .info-card-marker {
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin:0 auto;
// }

.info-card-marker  a {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  text-decoration: none;
  font-size: 400;
}

.info-card-marker  a:visited {
  color: white;
}


.criterias-card {
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:20px;
  margin: 20px auto;


}
.criterias-card p {
  margin:0px;

}

.no-validation {
  outline:none !important;
  background-color: none !important;
  color: none !important;
  box-shadow: none !important;
}



.explication-seniors p {

  margin: 0;
  // text-indent: 2rem;
  text-align: justify;
}


.image-seniordash{
  background-size: cover;
  background-position: center;
  height: 190px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  text-align: justify;
  padding: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);

}
