// Specific CSS for your home-page

.focus-space {
  background-color: #F9F9F9;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.focus-space img {
  width: 120px;
}

.interactive-icon {
  padding: 30px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 10px solid transparent;
}

.interactive-icon:hover {
  border: white 10px solid;
  padding: 30px;
  border-radius: 7px;
  transition: 0.1s;
}

.icon-roles {
  border: transparent 5px solid;
  border-radius: 50%;

}

.icon-roles:hover {
  border: #BEAEE2 5px solid;
  border-radius: 50%;
  transition: 0.2s;

}


#apartage-brand {
  width: 80px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 50%;
  border: #CDF0EA 12px solid;

}
