

<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="">
        <div class="text-center">
          <h1>All flats</h1>
        </div>
        <div class="text-center mb-5">
          <a href="<%= new_flat_path %>" class="btn btn-primary"> New Flat </a>
        </div>
        <% @flats.each do |f| %>
          <ul class="list-unstyled">
            <li> ID <%= f.id%>  : <a href="<%= flat_path(f) %>" class="btn btn-secondary"><%= f.title %> </a></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
