
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2  sidebar-home">

            <div class="d-flex flex-column align-items-center align-items-sm-start  text-black min-vh-100 put-in-relative">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ms-2 ">
                  <div class="top-left-bar">
                    <div class="logo-apartage-home">
                      <span class="fs-5 d-none d-sm-inline mt-2 text-apartage-home"><strong>linkAge</strong></span>
                    </div>
                    <%= image_tag "arrondie-top.png", id: "round-corner-home"%>
                  </div>

                </a>

                <hr>
                <%= image_tag "arrondie.png", id: "round-corner-junior"%>
            </div>


        </div>
    </div>
