<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-center">
      <% if user_signed_in? %>
        <div class="d-flex justify-content-center mb-5">
            <div class="navigation-avatars-role">
              <% if current_user.image.attached? %>
                <%= image_tag(current_user.image, class: "avatar-navbar")%>
              <% else %>
                <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar-navbar"%>
              <% end %>
              <div class="navigation-role">

                <%= image_tag "junior.png", class: "mini-icon-role" if current_user.role == "junior"%>
                <%= image_tag "senior.png", class: "mini-icon-role" if current_user.role == "senior"%>
              </div>

            </div>
        </div>
      <% end %>

  </div>
</div>
