<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-center">
      <% if user_signed_in? %>
        <div class="big-btn-backward d-flex align-items-center justify-content-center">
          <a href="javascript:history.back()"><i class="fa-solid fa-backward"></i></a>
        </div>

        <div class=" logo-appartage d-flex align-items-center justify-content-center">
          <% if current_user.role == 'junior' %>
            <%= image_tag "junior"%>
          <% elsif current_user.role == 'senior'%>
            <%= image_tag "senior"%>
          <% else %>
            <%= image_tag "logo-apartage"%>
          <% end %>

        </div>

        <div class="big-btn-forward d-flex align-items-center justify-content-center">
            <a href="javascript:history.forward()"><i class="fa-solid fa-forward"></i></a>
        </div>
          <% else %>

          <% end %>

  </div>
</div>
