<div class="prevent-link-deco">
  <%= link_to flat_path(flat) do %>
    <div class="card-marker" style="background-image: url(<%= cl_image_path flat.photos.first.key%>)">

      <div class="info-card-marker ">
        <h4 class="text-white"><%= flat.title %></h4>

      </div>
    </div>
  <% end %>
</div>
