<div class="text-center">


  <%= image_tag "home.png", height: 30, width: 30, alt: "Logo" %>
  <% @matching.each do |m| %>
      <%if m[:id] == flat.id %>
        <p class="btn-primary text-white p-1 mt-1"><%= m[:match] %> %</p>
      <% end %>
  <% end %>
</div>
