
<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container mb-5 pb-5">
    <div class="container text-center mt-3 mb-5">
      <div>
        <h1>Apart'Agé</h1>
      </div>
      <div class="mt-4">
        <h2>La colocation intergénérationnelle</h2>
      </div>
    </div>

    <div class="row">
      <div class="container focus-space col-8 mb-5">
        <div class="d-flex justify-content-around">
          <div class="interactive-icon">
            <%= link_to image_tag("friend.png"), new_user_session_path %>

          </div>

          <div class="interactive-icon">
            <%= link_to image_tag("home.png"), new_user_session_path %>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
