
  <div class="d-flex align-items-center mt-5">
    <div class="container mt-4">
      <div class="row">
        <div class="col-12 m-auto">
          <div class="focus-space">
            <div class="text-center">
              <h1>Espace privé du locataire</h1>

            </div>
            <div class="mt-3">
              <%= render "form", yourspace: @yourspace %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
