.navbar-lewagon {

  justify-content: center;

  background: #CDF0EA;

  width: 100vw;
  height: 40px;
  // overflow: hidden;
  position: fixed;
  bottom: 0;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;

  margin-left: 20px;
  margin-right:20px;
}

.mini-icon-role {
  width: 37px;

  border-radius: 50%;
  border: #CDF0EA 4px solid;
}

.navigation-avatars-role{
  position: relative;
}

.navigation-role{
  position: absolute;
  top: 0px;

  margin-left: 80px;
  margin-bottom: 50px;
}


.big-btn-login {
  font-size: 30px;
  background-color: rgba(76, 201, 240, 0.7);

  width: 120px;
  height: 90px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  margin-left: 20px;
  margin-right:20px;
  border: white 4px solid;
}
