.profile-menu {

  justify-content: end;
  background: transparent;

  width: 100vw;
  height: 100px;
  // overflow: hidden;
  position: fixed;
  // bottom: 0;

}

.profile-menu .profile-menu-collapse {
  flex-grow: 0;
}

.profile-menu img {


 margin-top: 30px;
 margin-right: 50px;
}


.logo-screenshot {
  width: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
